@model MVC.ViewModels.ManagerViewModels.EditMechanicViewModel

@{
    ViewData["Title"] = "Edit Mechanic";
}

<form asp-controller="Manager"
      asp-action="EditMechanic">
     <article>
         <input name="Id" type="hidden" value=@Model.CatalogMechanic.Id>
         <table>
             <tr>
                 <th>
                     Name:
                 </th>
                 <td>
                     <input type="text" size="50" required="required" name="Mechanic" value="@Model.CatalogMechanic.Mechanic">
                 </td>
             </tr>
         </table>
     </article>
     <button class="btn esh-basket-checkout" 
             type="submit">[ Accept ]
     </button>
</form>