@model MVC.ViewModels.ManagerViewModels.CatalogMechanicsListViewModel

@{
    ViewData["Title"] = "Mechanics Info";
}

<form class="container">

    @if (Model.CatalogMechanics.Count() > 0)
    {
        <table style="width:500px;table-layout:fixed;">
            <tr>
                <td>
                </td>
                <td>
                    Mechanic
                </td>
            </tr>
            @foreach (var catalogMechanic in Model.CatalogMechanics)
            {
                    <tr>
                        <td>
                            <input name="Id" type="hidden" value=@catalogMechanic.Id>
                        </td>
                        <td>
                            @catalogMechanic.Mechanic
                        </td>
                        <td>
                            <button asp-controller="Manager"
                                    asp-action="EditMechanicPage" 
                                    asp-route-id="@catalogMechanic.Id" 
                                    class="btn esh-basket-checkout"
                                    type="submit">[ Edit ]
                        </button>
                        </td>
                        <td>
                            <button asp-controller="Manager"
                                asp-action="RemoveMechanic"
                                asp-route-id="@catalogMechanic.Id" 
                                class="btn esh-basket-checkout" 
                                type="submit">[ Remove ]
                            </button>
                        </td>
                    </tr>
            }
        </table>
    }

        <button asp-area="Manager"
                asp-action="AddMechanicPage"
                class="btn esh-basket-checkout" 
                type="submit">[ Add Mechanic ]
        </button>
</form>